{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block header_link %}
<link href="{% static 'css/register.css' %}" rel="stylesheet">
{% endblock %}

{% block header_script %}
<script src="{% static 'js/register.js' %}" type="module" defer></script>
{% endblock %}

{% block title %}{% translate "Update" %}{% endblock %}

{% block main %}

{% translate "Update" as update %}

<section class="two-pane">
    <article class="section-image">
        <img src="{% static 'img/register_img.svg' %}">
    </article>
    <article class="two-pane-form">
        <h2>{% translate "Update User" %}</h2>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-container">
                <div class="user-form">
                    {% for field in uform %}
                        <div class="field-wrapper">
                            <p>{{ field.label_tag }}</p>
                            {% if field.errors %}
                                {% for error in field.errors %}
                                    <p class="error">*{{ error }}</p>
                                {% endfor %}
                            {% endif %}
                            {{ field }}
                        </div>
                    {% endfor %}
                </div>
                <div class="detail-form">
                    {% for field in dform %}
                        <div class="field-wrapper">
                            <p>{{ field.label_tag }}</p>
                            {% if field.errors %}
                                {% for error in field.errors %}
                                    <p class="error">{{ error }}</p>
                                {% endfor %}
                            {% endif %}
                            {{ field }}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <input type="submit" value="{{ update }}">
        </form>
    </article>
</section>

{% endblock %}