/* Utilities 

- colors
    - Green: #42B946
    - my black: #111111
*/

@font-face {
    font-family: "roboto-regular";
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: "roboto-bold";
    src: url("../fonts/Roboto/Roboto-Bold.ttf");
}

/* General */
    
*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-family: "roboto-regular";
    font-size: 1em;
}

body {
    padding: 0;
    margin: 0;
    overflow: hidden scroll;
}

@media screen and (min-width: 80em) {
    .desktop-hide {
        position: absolute;
        left: -100%;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        position: relative;

        padding: 1em 2em;
    }

    .nav-1 img {
        width: 10em;
    }

    .nav-2 ul {
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .nav-2 ul li {
        margin: 0 0.5em;
    }

    .nav-2 ul li a {
        text-decoration: none;
        color: #111111;
        padding: 0.8em 1em;
        border-radius: 0.25em;
    }

    .nav-2 ul li a:hover {
        color: #fff;
        background-color: #42B946;
    }

    .nav-2 img {
        width: 1.5em;
        margin-right: 0.5em;
    }

    .nav-2 .current-language {
        display: flex;
        justify-content: space-around;
        align-items: center;

        cursor: pointer;
    }

    .nav-2 .current-language span:nth-child(1) {
        color: #42B946;
    }

    .nav-2 .language-dropdown .languages {
        padding: 0.5em 1em;
        background-color: #fff;
        color: #111111;
        box-shadow: 0.1em 0.1em 0.5em #bbbbbb;
        font-family: "roboto-bold";
    }

    .nav-2 .language-dropdown .languages p {
        cursor: pointer;
    }

    .nav-2 .language-dropdown .languages p:hover {
        color: #42B946;
    }

    footer p {
        text-align: center;
    }

    footer p a {
        text-decoration: none;
        color: #42B946;
    }

    footer p a:hover {
        text-decoration: underline;
    }
}