@media screen and (min-width: 80em) {
    .section-references h1 {
        color: #5d6e86;
    }

    .section-references table th {
        background-color: #a1bee9;
    }

    .section-references table tr:nth-child(even) {
        background-color: #cfe2fd;
    }

    .update {
        color: #071cd8;
    }

    .delete {
        color: #b10606;
    }

    .update, .delete {
        font-family: "roboto-bold";
    }

    .update:hover,
    .delete:hover {
        color: #42B946;
    }
}