{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Chuye Brian">
        <meta name="description" content="Simple web application for managing site users.">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">

        <!-- Links -->
        <link href="{% static 'img/icons/logo.ico' %}" rel="icon">
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
        {% block header_link %}
        {% endblock %}

        <!-- Scripts -->
        <script src="{% static 'js/base.js' %}" type="module" defer></script>
        {% block header_script %}
        {% endblock %}

        <title>{% block title %}{% endblock %} | usermgmt</title>
    </head>
    <body>
        <header>
            <nav>
                <div class="nav-1">
                    <a href="{% url 'crud:home' %}">
                        <img src="{% static 'img/icons/nav_logo.ico' %}">
                    </a>
                </div>
                <div class="nav-2">
                    <span class="material-symbols-outlined desktop-hide">menu</span>
                    <ul class="mobile-hide">
                        <li><a href="{% url 'crud:register' %}" class="register-a">{% translate "Add User" %}</a></li>
                        <li><a href="{% url 'crud:users' %}" class="users-a">{% translate "Users" %}</a></li>
                        {% if not user.is_authenticated %}
                            <li><a href="{% url 'crud:login' 'home' %}" class="login-a">{% translate "Login" %}</a></li>
                        {% endif %}
                        <li><a href="{% url 'crud:references' %}" class="references-a">{% translate "References" %}</a></li>
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'crud:logout' %}" class="logout-a">{% translate "Logout" %}</a></li>
                        {% endif %}
                        <li class="language-dropdown">
                            <p class="current-language">
                                <span>{% get_current_language as LANGUAGE_CODE %}{{ LANGUAGE_CODE }}</span> 
                                <span class="material-symbols-outlined">arrow_drop_down</span>
                            </p>
                            <div class="desktop-hide">
                                <div class="languages">
                                    <p><img src="{% static 'img/flags/uk_flag.svg' %}"> <span>en</span></p>
                                    <p><img src="{% static 'img/flags/france_flag.svg' %}"> <span>fr</span></p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <main>
            {% block main %}
            {% endblock %}
        </main>
        <footer>
            <p>&copy;2024 {% translate "Site powered by " %}<a href="https://prantix.com" target="_blank">prantix.com</a></p>
        </footer>
    </body>
</html>